/**/
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* first section of the landing page */
.first{    
    background-color:#1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 90px;
    padding-bottom:100px;
    border-radius: 1%;
    width: 100%;   
}

.first_body{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 90px;
    padding: 0 180px;
}

.first_body_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex:1;
    margin-top: -27px;
}

.first header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header_links a, .first_body p{
    font-size: 18px;
    color: #E5E7EB;
}

.header_links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_links a, .header_links{
    list-style-type: none;
    text-decoration: none;
}

.first_body h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 3px;
}

.first_body button{
    background-color:#3882f6;
    color: white;
    border-radius: 9%;
    border: none;
    padding: 6px 27px;
    font-weight: bold;
}

.first_body img{
    flex: 1;
    height: 270px;
    width: 200px;
}


/*Second section of the landing page*/
.second{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    padding: 30px 0 120px 0;
}

.second_body{
    padding: 0 180px;
}

.second_body h2{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
    margin-bottom: 33px;
}

.image_card_list{
    display: flex;
    list-style: none;
    text-align: center;
    gap: 70px;
}

.card{
    flex: 1 1 auto;
    
}

.card img{
    width: 100%;
    border: solid #3882f6 9px;
    border-radius: 9%;
}

/*third section of the landing page: finished*/
.third{
    background-color:#E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 130px 230px;
    width: 100%;
}

.third blockquote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    text-align: right;
    display: flex;
    flex-direction: column;
    
}

.third blockquote p {
    text-align: left;
    flex: 3;
}

.third blockquote cite{
    font-weight: bold;
    flex:1;
}

.fourth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    width: 100%;
    padding: 100px;
    
}

.fourth_container{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    padding: 9px 180px;
    border-radius: 1%;
}

.fourth_body{
    display: flex;
    flex-direction: column;
    padding: 27px 27px;
}

.fourth h3{
    margin-bottom: 0;
}

.fourth p{
    margin-top:0;
}

.fourth button{
    background-color: transparent;
    border: #F9FAF8 solid 3px;
    font-weight: 700;
    border-radius: 9%;
    color: #F9FAF8;
    padding: 7px 27px;
}

footer{
    background-color: #1F2937;
    width: 100%;
    color: #F9FAF8;
    padding: 70px;
    text-align: center;
}